<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='semantic/semantic.min.css')}}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='semantic/semantic.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/carnotes-logo.png')}}"/>
    <title>CarNotes</title>
</head>

<body>
    <div class="ui container" id="main">
        <div class="ui top fixed inverted menu">
            <div class="item">
                <img src="{{url_for('static', filename='img/carnotes-logo.png')}}"><span id="title">CarNotes</span>
            </div>
            <a class="item" href="{{url_for('index')}}">Home</a>
        </div>
        <div class="ui raised inverted very padded text container segment">
            <h2 class="ui header"><i class="car icon"></i>About</h2>
            <hr id="about-hr">
            <p>
                CarNotes is the note taking app for creative people on the go. Whether you're washing dishes, going for
                a run, or driving to work, CarNotes is there to help you remember your ideas just by using your voice.
            </p>
            <iframe src="https://www.youtube.com/embed/MQuaMlj1rXg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="ui raised inverted very padded text container segment">
            <h2 class="ui header"><i class="user icon"></i>Meet The Team</h2>
            <hr id="team-hr">
            <div class="ui two column doubling stackable grid">
                <div class="column">
                    <div class="column">
                        <div class="ui card">
                            <div class="image"><img src="/images/avatar/large/elliot.jpg" /></div>
                            <div class="content">
                                <div class="header">Tiffany Hsieh</div>
                                <div class="meta">Software Engineer</div>
                                <div class="description">
                                    Tiffany is an awesome ardvark.
                                </div>
                            </div>
                            <div class="extra content">
                                <a href="mailto:thsieh34@gatech.edu">
                                    <i class="envelope icon"></i>
                                    thsieh34@gatech.edu
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui card">
                        <div class="image"><img src="{{url_for('static', filename='img/michael-profile.jpeg')}}" />
                        </div>
                        <div class="content">
                            <div class="header">Michael Koohang</div>
                            <div class="meta">Software Engineer</div>
                            <div class="description">
                                Michael is a cool cat.
                            </div>
                        </div>
                        <div class="extra content">
                            <a href="mailto:koohang@gatech.edu">
                                <i class="envelope icon"></i>
                                koohang@gatech.edu
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="column">
                        <div class="ui card">
                            <div class="image"><img src="/images/avatar/large/elliot.jpg" /></div>
                            <div class="content">
                                <div class="header">Will Said</div>
                                <div class="meta">Software Engineer</div>
                                <div class="description">
                                    Will is a dope duck.
                                </div>
                            </div>
                            <div class="extra content">
                                <a href="mailto:wsaid3@gatech.edu">
                                    <i class="envelope icon"></i>
                                    wsaid3@gatech.edu
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="column">
                        <div class="ui card">
                            <div class="image"><img src="{{url_for('static', filename='img/ashley-profile.png')}}" />
                            </div>
                            <div class="content">
                                <div class="header">Ashley Tan</div>
                                <div class="meta">Software Engineer</div>
                                <div class="description">
                                    Ashley is a rad racoon.
                                </div>
                            </div>
                            <div class="extra content">
                                <a href="mailto:ashleytan@gatech.edu">
                                    <i class="envelope icon"></i>
                                    ashleytan@gatech.edu
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; CarNotes 2020 | All rights reserved.</p>
    </footer>
</body>

</html>