{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="ui raised inverted very padded text container segment">
    <h2 class="ui header"><i class="car icon"></i>About</h2>
    <hr id="about-hr">
    <p class="text">
        AirNotes is the note taking app for creative people on the go. Whether you're washing dishes, going for
        a run, or driving to work, AirNotes is there to help you remember your ideas just by using your voice.
    </p>
    <iframe src="https://www.youtube.com/watch?v=DHzehGxgVjk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="ui raised inverted very padded text container segment">
    <h2 class="ui header"><i class="user icon"></i>Meet The Team</h2>
    <hr id="team-hr">
    <div class="ui two column doubling stackable grid">
        <div class="column">
            <div class="column">
                <div class="ui card">
                    <div class="image"><img src="{{url_for('static', filename='img/tiffany-profile.jpeg')}}" /></div>
                    <div class="content">
                        <div class="header">Tiffany Hsieh</div>
                        <div class="meta">Software Engineer</div>
                    </div>
                    <div class="extra content">
                        <a href="mailto:thsieh34@gatech.edu">
                            <i class="envelope icon"></i>
                            thsieh34@gatech.edu
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image"><img src="{{url_for('static', filename='img/michael-profile.jpeg')}}" />
                </div>
                <div class="content">
                    <div class="header">Michael Koohang</div>
                    <div class="meta">Software Engineer</div>
                </div>
                <div class="extra content">
                    <a href="mailto:koohang@gatech.edu">
                        <i class="envelope icon"></i>
                        koohang@gatech.edu
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="column">
                <div class="ui card">
                    <div class="image"><img src="{{url_for('static', filename='img/will-profile.jpeg')}}" /></div>
                    <div class="content">
                        <div class="header">Will Said</div>
                        <div class="meta">Software Engineer</div>
                    </div>
                    <div class="extra content">
                        <a href="mailto:wsaid3@gatech.edu">
                            <i class="envelope icon"></i>
                            wsaid3@gatech.edu
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="column">
                <div class="ui card">
                    <div class="image"><img src="{{url_for('static', filename='img/ashley-profile.png')}}" />
                    </div>
                    <div class="content">
                        <div class="header">Ashley Tan</div>
                        <div class="meta">Software Engineer</div>
                    </div>
                    <div class="extra content">
                        <a href="mailto:ashleytan@gatech.edu">
                            <i class="envelope icon"></i>
                            ashleytan@gatech.edu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}