{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% block content %}
<div class="ui raised inverted very padded text container segment">
    <h2 class="ui header"><i class="lock icon"></i>Privacy Policy</h2>
    <p class="text">AirNotes takes your privacy seriously and will uphold the highest standards to protect it. By using our app,
        you acknowledge that you accept the practices and policies outlined in this Privacy Policy.</p>

    <h3>What Information Do We Collect?</h3>
    <p class="text">AirNotes collects your username and password to keep track of your notes. That's it. We don't sell your
        data to third parties, and we keep every secure using industry standard encryption techniques.
    </p>

    <h3>Information We Do Not Collect</h3>
    <p class="text">We do not collect any personally identifiable information, except an email address.
    </p>

    <h3>What We Do With the Information</h3>
    <p class="text">We use your email to keep track of your individual account and store your notes on our servers.
    </p>

    <h3>Changes to this Privacy Policy</h3>
    <p class="text">This privacy policy may be updated from time to time to reflect changes in app features. Users are bound by
        any changes to the Privacy Policy when he or she uses the app after such changes have been first
        posted.</p>

    <h3>Questions or Concerns</h3>
    <p class="text">If you have any questions or concerns regarding privacy, please send us a detailed message to
        airnotes@gmail.com. We will make every effort to resolve your concerns.</p>

    <br>
    <p>Effective Date: March 25, 2020</p>

</div>
{% endblock %}